@charset "ISO-8859-1";

body {
  background-color: powderblue;
  font-family: "Lato", sans-serif;
}

button{
	color: blueviolet;
}

h1{
	color: skyblue;
}
.sidenav {
	
	
  height: 100%;
  width: 250px;
  margin-left: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

table, th, td {
	border: 1px solid;
 	color: blue;
}
p {
  color: red;
}